body{
    margin: 0;
}

.wrapper{
    background-color: rgb(32, 55, 50);
}

.gridcontainer{
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 50px 1.5fr 1fr 1fr 1fr;
    grid-template-areas: 
    "a1 b1"
    "a2 b2"
    "a3 b3"
    "a4 b4"
    "a5 b5"
    "a6 b6" ;
}


header{
    background-color: rgb(66, 99, 88);
    width: 100vw;
    height: 380px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: fixed;
    top: -280px;
    z-index: 100;
}

.activate{
    top: 0;
}

ul{
    position: absolute;
    top: -80%;
    list-style-type: none;
}

li{
    margin: 25px;
}

a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.a_activate{
    top: 0;
}



h2{
    color: white;
    font-size: 33px;
    margin-bottom: 30px;
}

#Deals{
    grid-area: a2;
    grid-column: span 2;
    color: white;
    margin: 10px;
    font-size: 2rem;
}

i.material-icons{  
    font-size: 4rem;
    position: absolute;
    left: 10px;
    bottom: 20px;
}

.seperatorcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    grid-area: a1;
    grid-column: span 2;
}

.seperator{
    background-color: white;
    height: 10px;
    width: 100%;
    grid-column: span 2;
    border-radius: 10px;
}

section{
    width: 370px;
    height: 180px;
    background-color: white;
    grid-area: a3;
    grid-column: span 2;
    margin-left: auto;
    margin-right: auto;
}

.picbox{
    background-color: white;
    width: 180px;
    height: 140px;
    margin-right: auto;
    margin-bottom: 70px
}

.second{
    margin-left: auto;
    margin-right: 0;
}