body{
    margin: 0;
}

.wrapper{
    background-color: rgb(32, 55, 50);
}


.gridcontainer{
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 50px 1.5fr 1fr 1fr 1fr;
    grid-template-areas: 
    "a1 b1"
    "a2 b2"
    "a3 b3"
    "a4 b4"
    "a5 b5"
    "a6 b6" ;
}

#abgrid{
    grid-template-rows: 50px 50px 1.5fr;
    grid-template-areas: 
    "a1 b1"
    "a2 b2"
    "a3 b3" ;
}

#prodgrid{
    grid-template-rows: 50px 50px 1.5fr 50px 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "a1 b1"
    "a2 b2"
    "a3 b3"
    "sep1 sep2"
    "a4 b4"
    "a5 b5"
    "a6 b6"
    "a7 b7"
    "a8 b8" ;
}

#sep1{
    grid-area: sep1 sep2;
    margin: auto;
}

p{
    font-size: 1.7rem;
    color: white;
    grid-column: span 2;

}

header{
    background-color: rgb(66, 99, 88);
    width: 100vw;
    height: 300px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: fixed;
    top: -200px;
    z-index: 100;
}

.activate{
    top: 0;
}

.listcontainer{
    width: 90vw;
    position: absolute;
    top: -80%; 
    display: grid;
    grid-template-rows: 70px 5px 70px 5px 70px 5px 70px;

}

a{
    color: white;
    text-decoration: none;
    font-size: 2rem;
    margin: 20px;
}

.a_activate{
    top: 0;
}

.tempbox{
    background-image: url("../Img/Deep\ blue.png");
    grid-column: span 2;
}

li{
    color: white;
    text-decoration: none;
    list-style: none;
    grid-column: span 2;
    font-size: 1.3rem;
}

ul{
    grid-column: span 2;
}

.button{
    width: 200px;
    height: 60px;
    background-color:#EBDF79;
    border-radius: 20px;
    grid-column: span 2;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    align-items: center;
    justify-content: center;
}

.button strong{
    font-size: 1.5rem;
    color: black;
    margin: 0;
}

h2{
    color: white;
    font-size: 33px;
    margin-bottom: 30px;
}

#Deals{
    grid-area: a2;
    grid-column: span 2;
    color: white;
    margin: 10px;
    font-size: 2rem;
}

i.material-icons{  
    font-size: 4rem;
    position: absolute;
    left: 10px;
    bottom: 20px;
}

.seperatorcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    grid-area: a1;
    grid-column: span 2;
}

.seperator{
    background-color: white;
    height: 5px;
    width: 100%;
    grid-column: span 2;
    border-radius: 10px;
}

section{
    width: 370px;
    height: 180px;
    background-color: white;
    grid-area: a3;
    grid-column: span 2;
    margin-left: auto;
    margin-right: auto;
}

.picbox{
    background-color: white;
    width: 180px;
    height: 140px;
    margin-right: auto;
    margin-bottom: 70px
}

.second{
    margin-left: auto;
    margin-right: 0;
}