body{
    margin: 0;
}

.wrapper{
    background-color: rgb(32, 55, 50);
}

#abwrap{
    height: calc(100vh - 100px);
}

.gridcontainer{
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 50px 1.5fr 1fr 1fr 1fr;
    grid-template-areas: 
    "a1 b1"
    "a2 b2"
    "a3 b3"
    "a4 b4"
    "a5 b5"
    "a6 b6" ;
}

#abgrid{
    grid-template-rows: 50px 50px 1.5fr;
    grid-template-areas: 
    "a1 b1"
    "a2 b2"
    "a3 b3" ;
}

.prodgrid{
    grid-template-columns: 100%;
    grid-template-rows: 50px 50px auto 50px auto auto 50px auto auto 50px auto;
    grid-template-areas: 
    "a1 b1"
    "a2 b2"
    "a3 b3"
    "sep1 sep2"
    "a4 b4"
    "a5 b5"
    "sep3 sep4"
    "a6 b6"
    "sep5 sep6"
    "a7 b7"
    "a8 b8" ;
}

img{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.imag{
    max-height: 375px;
    max-width: 374px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
}

.deep{
    background-image: url("../Img/Deepblue-mobile.png");
    width: 374px;
    height: 250px;
}

.gentl{
    background-image: url("../Img/Thegentleman-mobile.png");
    width: 300px;
    height: 375px;
}

.tree{
    background-image: url("../Img/Lonesome-tree-mobile.png");
    width: 300px;
    height: 300px;
}

#sep1{
    grid-area: sep1 sep2;
    margin: auto;
}

#sep2{
    grid-area: sep3 sep4;
    margin: auto;
}

#sep3{
    grid-area: sep5 sep6;
    margin: auto;
}

p{
    font-size: 1.7rem;
    color: white;
    grid-column: span 2;
    margin: 30px;

}

header{
    background-color: rgb(66, 99, 88);
    width: 100vw;
    height: 300px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: fixed;
    top: -200px;
    z-index: 100;
    transition: top 0.5s;
}

.activate{
    top: 0;
}

.listcontainer{
    width: 90vw;
    position: absolute;
    top: -80%; 
    display: grid;
    grid-template-rows: 70px 5px 70px 5px 70px;
    transition: top 0.5s;

}

a{
    color: white;
    text-decoration: none;
    font-size: 2rem;
    margin: 20px;
}

.a_activate{
    top: 0;
}

li{
    color: white;
    text-decoration: none;
    list-style: none;
    grid-column: span 2;
    font-size: 1.3rem;
}

ul{
    margin: 0;

}

.button{
    width: 200px;
    height: 60px;
    background-color:#EBDF79;
    border-radius: 20px;
    grid-column: span 2;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    align-items: center;
    justify-content: center;
}

.button strong{
    font-size: 1.5rem;
    color: black;
    margin: 0;
}

h2{
    color: white;
    font-size: 33px;
    margin-bottom: 30px;
}

.Deals{
    grid-area: a2;
    grid-column: span 2;
    color: white;
    margin: 10px;
    font-size: 2rem;
}


i.material-icons{  
    font-size: 4rem;
    position: absolute;
    left: 10px;
    bottom: 20px;
}

.seperatorcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    grid-area: a1;
    grid-column: span 2;
}

.seperator{
    background-color: white;
    height: 5px;
    width: 100%;
    grid-column: span 2;
    border-radius: 10px;
}

section{
    background-image: url("../Img/Lonesome-tree-bigdeal-mobile.png");
    width: 370px;
    height: 185px;
    background-color: white;
    grid-area: a3;
    grid-column: span 2;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.picbox{
    background-image: url("../Img/Deepblue-30%.png");
    background-color: white;
    width: 180px;
    height: 140px;
    margin-right: auto;
    margin-bottom: 70px;
}

.second{
    margin-left: auto;
    margin-right: 0;
}


#pic2{
    background-image: url("../Img/Thegentleman-30%.png");    
}
#pic3{
    background-image: url("../Img/Lonesome-tree-30%.png");
}

#pic5{
    background-image: url("../Img/Thegentleman-30%.png");
}
#pic6{
    background-image: url("../Img/Lonesome-tree-30%.png");
}


@media only screen and (min-width: 768px){

    .wrapper{
        height: 100vh;
    }

    #abwrap{
        height: 100vh;
    }

    header{
        width: 320px;
        height: 100%;
        align-items: flex-end;
        justify-content: center;
        position: fixed;
        top: 0;
        z-index: 100;
        transition: none;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100px 30px 220px auto;
        grid-template-areas:
        "true f1"
        "emp-spc emp-spc"
        "list list" ;
    }

    i.material-icons{  
        display: none;
    }

    h2{
        margin-left: auto;
        margin-right: auto;
    }

    .listcontainer{
        grid-area: list;
        margin-left: 20px;
        margin-right: 20px;
        width: auto;
        position: static;
        top: 0; 
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 70px 5px 70px 5px 70px;
        transition: top 0.5s;
    
    }

    .gridcontainer{
        margin-top: 0px;
        margin-left: 340px;
        margin-right: 20px;
        display: grid;
        grid-template-columns: auto calc(100vw/6) calc(100vw/6);
        grid-template-rows: 70px 50px auto auto auto auto;
        grid-template-areas: 
        "a1 b1 c1"
        "a2 b2 c2"
        "a3 b3 c3"
        "a4 b4 c4"
        "a5 b5 c5" ;
    }

    .Deals{
        grid-area: a1;
        grid-column: span 3;
        margin: 10px;
        font-size: 4rem;
        }

    .seperatorcontainer{
        grid-area: a2;
        grid-column: span 3;
    }

    section{
        background-image: url("../Img/Lonesome-tree-bigdeal.png");
        width: 900px;
        height: 451px;
        background-color: white;
        grid-area: a3;
        grid-column: span 1;
        grid-row: span 3;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .picbox{
        background-color: white;
        width: 180px;
        height: 140px;
        margin: auto;
        margin-bottom: 30px;
        margin-right: 20px;
    }    

    .second{
        margin-left: 20px;
        margin-right: auto;
    }

    #pic1{
        grid-area: b3;
    }
    #pic2{
        grid-area: c3;
    }
    #pic3{
        grid-area: b4;
    }
    #pic4{
        grid-area: c4;
    }
    #pic5{
        grid-area: b5;
    }
    #pic6{
        grid-area: c5;
    }

    .prod{
        grid-column: span 5;
    }

    .prodgrid{
        grid-template-columns: 1fr 15px 1fr 15px 1fr ;
        grid-template-rows: 50px 50px auto 50px auto;
        grid-template-areas: 
        "a1 . b1 . c1"
        "a2 . b2 . c2"
        "a3 . b3 . c3"
        "sep1 . sep2 . sep3"
        "a4 . b4 . c4" ;
    }

    .button{
        width: 200px;
        height: 60px;
        background-color:#EBDF79;
        border-radius: 20px;
        grid-column: span 2;
        margin-left: auto;
        margin-right: auto;
        display:flex;
        align-items: center;
        justify-content: center;
    }

    img{
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    #sep1{
        grid-area: sep1;
        margin: auto;
    }

    #sep2{
        grid-area: sep2;
        margin: auto;
    }

    #sep3{
        grid-area: sep3;
        margin: auto;
    }


    .imag{
        max-height: 701px;
        max-width: 700px;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        background-size: contain;
    }
    .deep{
        background-image: url("../Img/Deepblue.png");
        width: 601px;
        height: 401px;
        grid-area: a3;
    }
    
    .gentl{
        background-image: url("../Img/Thegentleman.png");
        width: 400px;
        height: 500px;
        grid-area: b3;
    }
    
    .tree{
        background-image: url("../Img/Lonesome-tree-desktop.png");
        width: 450px;
        height: 450px;
        grid-area: c3;
    }

    .butt1{
        grid-area: a4;
    }

    .butt2{
        grid-area: b4;
    }

    .butt3{
        grid-area: c4;
    }

    .desk{
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 50px 50px auto auto auto;
        grid-template-areas: 
        "a1 b1"
        "a2 b2"
        "a3 b3"
        "a4 b4"
        "sep1 sep1";

    }

    .infobox{
        grid-area: b3;
    }

    .buy{
        grid-column: span 2;
    }

    .buybutton{
        grid-area: b4;
        margin-left: 20px;
    }

    .buy2{
        grid-area: a3;
    }

}